html div.clear
{
    clear: both;
    height: 1px;
    overflow: hidden;
}

html #siteNavigation
{
    height: 2em;
}

html #hospitalHeader .secondColumn
{
    width: 360px;
}

html #contactList
{
    background-color: #ffffff;
}

html #hospitalNavigation li.first
{
    width: auto;
}

html #homeHeader
{
    margin-bottom: -1px;
}

html #homeHeader #search
{
    position: relative;
}

html #wrapper
{
    position :static;
}
html div.legend 
{
    top: 320px;
}